<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Mystery0 on 17-12-26 下午11:29.
  ~ Copyright (c) 2017. All Rights reserved.
  ~
  ~ Last modified 17-11-1 下午5:09
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mystery0.toolsdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".PictureChooserDemoActivity" />
        <activity android:name=".HeaderPageActivity" />
        <activity android:name=".TextViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>